services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-lakehouse}
      POSTGRES_USER: ${POSTGRES_USER:-lakehouse}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-lakehouse}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-lakehouse} -d ${POSTGRES_DB:-lakehouse}"]
      interval: 5s
      timeout: 5s
      retries: 20

  airflow-webserver:
    build:
      context: ./docker/airflow
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - airflow_logs:/opt/airflow/logs
    command: >
      bash -lc "
      airflow db migrate &&
      airflow users create
        --username admin
        --firstname Admin
        --lastname User
        --role Admin
        --email admin@example.com
        --password admin || true &&
      airflow webserver
      "

  airflow-scheduler:
    build:
      context: ./docker/airflow
    env_file: .env
    depends_on:
      airflow-webserver:
        condition: service_started
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - airflow_logs:/opt/airflow/logs
    command: >
      bash -lc "
      airflow db migrate &&
      airflow scheduler
      "

volumes:
  pg_data:
  airflow_logs:
